@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Uchen', sans-serif;
    background-color: #B8CCD9;
}

h1 {
    padding: 10 0 0 0; 
  }

header {
    width: 100%;
    color: #011126;
    text-align: center;
    margin: 30px
  
}

header p {
    font-weight: bolder;
    padding: 0 0 15 0; 
}

h2 {
    text-align: center;
    margin: 20px;
  
}

img {
    display: block;
    margin: auto;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
}

figcaption {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

main {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
}


div{
    margin: 20 10 0 10;
     background-color: white;
  
}

article {
    padding: 20px;
    margin: auto;
    text-align: justify;
    margin-bottom: 60px;
    margin-top: 10px;
}

article > p {
    text-indent: 20px;
}

h3 {
    margin: 1.4em;
}

ul{
    margin-left: 2em;
}

ul > li {
    padding: 7px;
}

footer{
    text-align: center;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #011126;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}